*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 0px;
}
body{
    color: azure;
    /* overflow: hidden; */
    /* height: 100vh; */
}

.heading{
    margin: 10px 0px;
}
.text{
    color:gray;
}
.heading,.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    font-weight: 500;
}

.name{
    width: 4.5rem;
    height: 4.5rem;
    background-color: #495FEA;
    border-radius: 50%;
    font-size: 3.5rem;
    top: 14px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}


.btn{
    margin: 15px 0;
}
.outer-container{
    height:100vh;
    display: flex;
}
.left-box{
    width: 22%;
    padding-left: 25px;
    padding-top: 20px;
    background-color: hsl(0, 0%, 15%);
    overflow: scroll;
    overflow-x: hidden;  
}

.left-box::-webkit-scrollbar {
    width: 8px;
}

.left-box::-webkit-scrollbar-thumb {
    background-color:rgb(64, 63, 63);
    border-radius: 10px;
}
  
.right-box{
    width: 78%;
    background-color: #212121;
    padding: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    font-weight: 600;
    overflow: scroll;
    overflow-x: hidden;
}

.right-box::-webkit-scrollbar {
    width: 8px;
}

.right-box::-webkit-scrollbar-thumb {
    background-color:rgb(64, 63, 63);
    border-radius: 10px;
}

.right-box>div{
    display: flex;
    flex-direction: column;

    /* gap: 15px; */
}

/* .right-box svg{
  margin-right:10px
} */

.right-box>div>div{
    border-top: 1px solid rgb(59, 56, 56);
    padding-top: 15px;
    margin-top: 15px;
}


.wrkspace{
    align-items: center;
    display: flex;
    gap: 10px;
}

.left-box h1{
    font-size: 17px;
   
}
.text{
    font-size: 13px;
}
.list-box{
    display: flex;
    flex-direction: column;
    padding: 20px  0px
}

.list-box a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    font-weight: 500;
}

.links-box{
    display: flex;
    flex-direction: column;
    padding: 20px  0px;
   
}

.links-box a{
    color:gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    font-weight: 500;
}
.img-avatar{
    position: relative;
    width:5rem;
    padding:10px;
    border:1px solid rgb(59, 57, 57);
    margin: 20px 0px;
}
.big-Avatar{
    width: 100%;
}
.button-invite{
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
}

.explore{
    margin-top: 2.5rem;
    /* border-bottom:1px solid rgb(59, 56, 56); ; */
    padding-bottom: 15px;
}

.exploredata{
    display: flex;
    gap: 20px;
    /* width: 80%; */
    margin: 1rem 0;
    border-bottom:1px solid rgb(59, 56, 56);
}

.exploreimgbox{
    width: 2rem;
}

.team-logo--image{
    width: 100%;
}

.exploredata>div{
    padding: 10px;
    width: 52%;
}
.explorepara{
    margin: 1rem 0;
}

@media screen and (max-width: 950px) {
    .outer-container{
        flex-direction: column;
    }
    /* .left-box{
        width: 100vw;
    }
    .right-box{
        width: 100vw;
    } */
}